*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
html, body {
    height: 100%;
    width: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.elem{
    padding: 10px 10px;
    border: 2px solid lightslategray;
    border-radius: 20px;
    padding: 20px 20px;
    background-color: rgb(235, 235, 235);
}

button{
    margin-top: 10px;
    background-color: rgb(66, 47, 214);
    border-radius: 8px;
    padding: 5px 5px;
    color: aliceblue;
    margin-left: 17px;
}